# DO NOT USE NOTEPAD TO EDIT CONFIG FILES! USE NOTEPAD++ INSTEAD!
# Uncomment a line when you want to change its default value (Remove # at the beginning)
# Please ensure to leave a space after the colon if a value is needed ("example-setting" "example-setting-with: value")
# When your configuration is done, rename this file by removing the ".example" extension
# A different config-files can be included directly in processes by "--config-file" or "-cf" and path
# Value without # are needed for this script

# VNC Settings
######################

#vnc_ip:                     # IP address or hostname of the VNC server (needed for scanning mode)
#vncscreen:                  # Number of screen (default: None) 
#vnc_port:                   # Port of the VNC server  (needed for scanning mode)
#vnc_password:               # VNC password  (needed for scanning mode)

# MySql Settings
######################

#dbip:                       # IP adress or hostname of the mysql server (needed for ocr mode)
#dbusername:                 # Username of database (needed for ocr mode)
#dbpassword:                 # Password of database (needed for ocr mode)
#dbname:                     # Name of the database (needed for ocr mode)
#dbport:                     # Port of the database (default: 3306)

# Telnet Settings
######################

#tel_ip:                     # IP address or hostname of the telnet server  (needed for scanning mode)
#tel_port:                   # Port of the telnet server  (needed for scanning mode)
#tel_password:               # Telnet password  (needed for scanning mode)

# Coords CSV
######################

#file:                       # Path to csv file with lat;lng for gyms to scan  (needed for scanning mode)

# Walk Settings
######################

#speed:                      # running speed (defaul: 50 km/h)
#max_distance:               # Max. walking distance - otherwise teleport

# Runtype settings
######################

#only-scan                   # running this instance in scanning mode without OCR tracing
#only-ocr                    # running this instance in ocr mode without Scanning 

# path settings
######################

pogoasset:                   # Path to Pogo Assets: See: https://github.com/ZeChrales/PogoAssets/ (git clone)
#temp_path:                  # Path for generated files while detecting raids (default: temp/)
#raidscreen_path:            # Path for taken screenshots (default: screenshots/)
#unknown_path:               # Path for not automaticly detected gyms or mons (defaul: unknown/)

# timezone settings
######################

timezone:                    # Time difference from UTC+-0 (f.e +2 for Berlin/Germany) - Needed for Rocketmap Database 

#sleeptimer settings
######################

#sleeptimer                  # Sleep time for the phone
#sleepinterval:              # f.e. [21:00, 05:00] to disable pk and device from 21 to 5 o'clock ( 9PM to 5 AM )

# params for downloadDBCords.py (generate coordfile from param file)
######################

#latlngleft:                 # download gym cords from this param f.e. [47.1, 47.2]
#latlngright:                # download gym cords to this param  f.e. [9.1, 9.5]


